.typeFile {
    color:blue;
}

.typeDir {
    color:red;
}

#userInterface {
    position:absolute;
}

.opened {
    background: #D9FFAD;
}

.ui-progressbar-value {
    background-image: url(http://www.professorweb.ru/downloads/jquery/progress-animation.gif);
}

.ui-progressbar {
    height: 22px
}