@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div>
    <ul>
        @foreach (var b in ViewBag.directories)
        {
            <li class="notOpened" id="@b.ID">@b.name</li>
        }
    </ul>
</div>

@section Scripts {
    <script src="~/Scripts/ForJQuerry.js" type="text/javascript"></script>
}

